body {
    font-family: Arial;
    background: linear-gradient(to right,#ff9a9e,#fad0c4);
    padding: 10px;
}

/* Chat list */
.chat-item {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}

.header button {
    border: none;
    background: transparent;
    font-size: 18px;
}

/* Profile */
.dp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Chat */
.chat-box {
    height: 60vh;
    overflow-y: auto;
    background: #fff0f5;
    padding: 10px;
    border-radius: 10px;
}

/* Messages */
.message {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    max-width: 70%;
}

.my-msg {
    background: #ff4d6d;
    color: white;
    margin-left: auto;
}

.other-msg {
    background: white;
}

/* Input */
.input-area {
    display: flex;
    margin-top: 10px;
}

.input-area input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
}

.input-area button {
    margin-left: 5px;
    border-radius: 50%;
    background: #ff4d6d;
    color: white;
    border: none;
}

/* Buttons */
.heart-btn {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background: #ff4d6d;
    color: white;
    border: none;
    border-radius: 10px;
}

.notes-btn {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

.add-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 50%;
    background: #ff4d6d;
    color: white;
    border: none;
}